/* text-el && form-el */

h2{
    font-size: 1.125rem;
    margin-bottom: .5em;
}

label{
    font-size: .875rem;
}

input{
    font-size: 1rem;
    padding: .5rem;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}

textarea{
    font-family: inherit ;
    font-size: 1rem;
    line-height: 1.5;
    padding: .5em;
    resize: vertical;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}

input:focus,
textarea:focus{
    outline: none;
    border-color: goldenrod;
}

/* buttons */

.next-to-btns> button[type="submit"]{
    background-color: #5B21B6;
    color: #ffffff;
}

.next-to-btns > button[type="submit"].disable-btn{
    background-color: #D1D5DB;
    border: 1px solid #D1D5DB;
}

.add-btn{
    color: #5B21B6;
    background-color: #ffffff;
    border: 2px dashed #5B21B6;
}

.add-btn:hover{
    background-color: #5B21B6;
    color: #ffffff;
}

.delete-btn{
    background-color: #DC2626;
    width: fit-content;
    padding: .3em;
    margin: 0;
    margin-left: auto;
}

.delete-btn:hover{
    background-color: #B91C1C;
}

.add-disabled-btn,
.delete-disabled-btn{
    opacity: .3;
}

.back-to-btns > button,
.next-to-btns > button{
    color: #5B21B6;
    background-color: #ffffff;
}

.back-to-btns > button:hover,
.next-to-btns > button:hover{
    color: #ffffff;
    background-color: #5B21B6;

}

/* containers && wrapper */

.progression-form-wrapper{
    padding: .5rem;
}

form{
    background-color: #ffffff;
    border-radius: 4px;
    overflow-y: auto;
    padding: .5rem;
    margin-bottom: 4rem;
}

.label-input-error-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: .5em;
}

.skills-section,
.projects-section,
.experiences-section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-details-contanier,
.experience-details-contanier,
.skills-details-contanier{
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    padding: .5rem;
}

/* buttons container */
.form-actions-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem ;
    border-top: 2px solid #D1D5DB;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/* list items containers skills, projects, experience */

.project-contanier-top{
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: .5rem;
}

.project-contanier-top > p{
    font-size: .875rem;
}

.error-message{
    color: #ff0000;
    font-size: .75rem;
    font-weight: 500;
    margin: 0;
}

@media (min-width : 480px) {
    .progression-form-wrapper{
        padding: 1rem;
    }

    form{
        padding: 1rem;
    }

    .form-actions-btns{
        padding: 1rem;
    }
}

@media (min-width : 640px){

    h2{
        margin-bottom: .75em;
    }

    form{
        margin-bottom: 5rem;
    }

    .input-cols-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
    
    .project-contanier-top{
        margin-bottom: 1rem;
    }

    .project-contanier-top > p{
        font-size: .875rem;
    }
    
}

@media (min-width : 748px){
    form{
        padding: 1.5rem;
    }

    .project-details-contanier,
    .experience-details-contanier,
    .skills-details-contanier{
        padding: 1rem;
    }

    .skills-section,
    .projects-section,
    .experiences-section{
        gap: 1rem;
    }

     .form-actions-btns{
        padding: 1rem 1.5rem;
    }

}

@media (min-width : 1024px){
    .form-actions-btns{
        width: 60%;
    }

    .add-btn{
        width: fit-content;
    }
}