body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

button{
    width: 100%;
    padding: .5em 0;
    margin: 1em 0;
    font-family: "Inter", sans-serif;
}

textarea{
    resize: none;
}

form{
    padding: 1em;
}

input{
    padding: .5em;
}

form > .personal-details-section,
form > .education-section,
form > .summary-section,
.project-details-contanier,
.experience-details-contanier,
.skills-details-contanier{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.personal-details-section > h2,h3{
    margin:  0;
    padding: .5em 0;
}

.personal-details-section >  input{
    margin-bottom: .5em;
}

.education-section > .education-period,
.experience-details-contanier > .experience-period{
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em 0;
}

.education-section > .education-period > input{
    margin-right: 1em;
    padding: .2em;
}

.project-details-contanier{
    margin: 2em 0;
}